.nav-link{
  margin-right: 2rem;
}

.footer-ele {
  text-decoration: none;
  color: #6c757d; /* Bootstrap's text-muted color */
  margin-bottom: 0.0000001rem;
  display: inline-block;
 /* ensures margin-bottom applies */
}
.footer-ele:hover,
.footer-ele:focus {
  color: #1077de; /* Slightly darker on hover/focus if desired */
  text-decoration: underline; /* Optional: add underline on hover */
}

.footer-app{
  font-size: 1.3rem;
  opacity: 0.7;
}
.footer-app:hover{
  font-size: 1.7rem;
  opacity: 1;
}